.mai-drawer[role='dialog'] {
  --mai-drawer-background-color: var(--color-foreground);
  --mai-drawer-foreground-color: var(--color-background);
  --mai-drawer-box-shadow: var(--box-shadow-dark-sm);
  
  background-color: var(--mai-drawer-background-color);
  color: var(--mai-drawer-foreground-color);
  box-shadow: var(--mai-drawer-box-shadow);

  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: flex-start;
  gap: 1rem;
  padding: 1.25rem;
  width: fit-content;
  height: 100%;
}

.mai-drawer-transition-enter {
  opacity: 0;
}
.mai-drawer-transition-enter > * {
  transform: translateX(-100%);
}
.mai-drawer-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 150ms;
}
.mai-drawer-transition-enter-active > * {
  transform: translateX(0);
}
.mai-drawer-transition-exit {
  opacity: 1;
}
.mai-drawer-transition-exit > * {
  transform: translateX(0%);
}
.mai-drawer-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 150ms;
}
.mai-drawer-transition-exit-active > * {
  transform: translateX(-100%);
}