:host {
  --avatar-size: 3rem;
  display: block;
  height: var(--avatar-size);
  width: var(--avatar-size);
}

.avatar {
  font-family: system-ui;
  background-color: #0D4CDE;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
  display: inline-grid;
  place-content: center;
  height: inherit;
  width: inherit;
}


.avatar[data-notifications] {
  --avatar-notification-size: calc((1.25 / 3) * var(--avatar-size));
  position: relative;
}

.avatar[data-notifications]::after {
  content: attr(data-notifications);
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  font-size: .8rem;
  font-weight: 500;
  background-color: #CDE1FD;
  width: var(--avatar-notification-size);
  height: var(--avatar-notification-size);
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  border: 2px solid #fff;
  transform: translate(25%, -25%);
}

.avatar {
  box-shadow: 1px 2px 6px rgba(0,0,0,.25);
}

.avatar > picture, .avatar img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  object-fit: cover;
}
