.mai-modal[role='dialog'] {
  --mai-modal-box-shadow: var(--box-shadow-dark-sm);
  --mai-modal-background-color: var(--color-foreground);
  --mai-modal-foreground-color: var(--color-background);

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
  border-radius: .5rem;
  box-shadow: var(--mai-modal-box-shadow);
  background-color: var(--mai-modal-background-color);
}

.mai-modal-transition-enter {
  opacity: 0;
}
.mai-modal-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.mai-modal-transition-exit {
  opacity: 1;
}
.mai-modal-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}